{% extends 'forms/atencion.html' %}
{% load static %}

{% block form-paciente %}
<div class="form-back">
    <div class="form-container">
        <div class="form-header">
            <h2>Asignar Fonoaudiólogo</h2>
            <a href="{% url 'atencion_form' pk=solicitud.id %}"><i class="fa-solid fa-x"></i></a>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-box" style="margin-top:40px;">
                <select name="usuario" id="id_fonoaudiologo">
                    {% for x in usuarios %}
                    <option value="{{x.id}}">{{x.first_name}} {{x.last_name}}</option>
                    {% endfor %}
                </select>
                <label class="label-input" for="id_fonoaudiologo">Fonoaudiólogo</label>
            </div>


            <div class="form-box" style="margin-top:40px;">

                <select name="cargo" id="id_cargo">
                    {% for x in cargos %}
                    <option value="{{x.id}}">{{x.nombre}}</option>
                    {% endfor %}
                </select>
                <label class="label-input" for="id_cargo">Cargo</label>
            </div>
            <button class="btn" type="submit">Guardar</button>
        </form>

    </div>
</div>
{% endblock form-paciente %}