{% extends 'pages/perfil_usuario.html' %}
{% load static %}


{% block form-password %}
<div class="form-back">
    <div class="form-container">
        <div class="form-header">
            <h2>Cambiar Contraseña</h2>
            <a href="{% url 'perfil_usuario' %}"><i class="fa-solid fa-x"></i></a>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-box">
                {{ form.as_p }}
                <label class="label-input" for="id_nombre">{{ form.nombre.label }}</label>
            </div>
            <div class="form-box">
                {{ form.cantidad }}
                <label class="label-input" for="id_cantidad">{{ form.cantidad.label }}</label>
            </div>
            <div class="form-box">
                {{ form.estado }}
                <label class="label-input" for="id_comuna">{{ form.estado.label }}</label>
            </div>
            <div class="form-box">
                {{ form.descripcion }}
                <label class="label-input" for="id_apellido">{{ form.descripcion.label }}</label>
            </div>
            <button class="btn" type="submit">Guardar</button>
        </form>
    </div>
</div>
{% endblock form-password %}